@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p class="lead">Welcome to the Client Information Management System!</p>
    <p class="mb-4">
        This application is designed to help you capture and maintain client information efficiently. You can store client names, genders, and basic details. Additionally, the system allows you to capture multiple addresses and contact information for each client, categorized by types such as Residential Address, Work Address, Postal Address, Cell Number, Work Number, etc.
    </p>

    <p class="mb-4">
        To get started, go to the <a asp-page="/Clients/Index" class="btn btn-primary">Clients page</a> to manage client information.
    </p>

</div>